.background {
    width: 100%;
    min-height: 100%;
    background-color: #0D7792;


}

.checkbox {
    padding-top: 5%;
}
.ChatApp{
    height: 100vh;
    background-color: #0D7792;
}

.Login-Container {

    background-color: #0D7792;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
    height: 100%;


}
.Chat-Container-Parent {

    background-color: #0D7792;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;


}


h1 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;

}

.primary-text {

    color: aliceblue;
    font-size: 1rem;
}
.input-text {
    text-align: center;
    color: aliceblue;
    font-size: 1rem;
}


.Form-Parent {
    box-shadow: 5px 5px 10px 1px #000;
    font-size: 1rem;
    background-color: #243B53;
    border: 2px outset linen;
    border-radius: 25px;
    width: 80%;
}
.Messages {
    list-style-type: none;
    height: 77%;
}
.ChatInput{

    /*align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%*/
    margin: 0 1em;
    bottom: 1rem;








/*
Sorfs Mum is eine geile Granate
Oder siehst du das anders



if (bier == geil || true) {
    print("Du geile Sau");
    print("Freibier für alle");
}
 */




}
.ChatApp-Container {
     box-shadow: 5px 5px 10px 1px #000;
     font-size: 1rem;
     background-color: #243B53;
     border: 2px outset linen;
     border-radius: 25px;
     width: 95%;
     height: 95%;
 }
.sendButton{
    border-radius: 0 0.5rem 0.5rem 0;
    width: 7rem;




}


.Form-Parent Form {
    margin: 10%;
}

.submitBtn {
    padding-top: 2rem;
    align-content: center;
}
.messageField {
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 10px 1px #000;
    width:90%;
    height:90%;
    font-size: 1rem;
    background-color: #243B53;
    border: 2px outset linen;
    padding: 3%;
    border-radius: 25px;

}
.ChatAppRoom{}