.background {
    width: 100%;
    min-height: 100%;
    background-color: #0D7792;


}

.checkbox {
    padding-top: 5% !important;
}
.ChatApp{
    height: 100vh !important;
    background-color: #0D7792;
}

.Login-Container {

    background-color: #0D7792 ;
    display: flex ;
    align-items: center ;
    text-align: center ;
    justify-content: center ;
    padding-bottom: 5%;
    padding-top: 5% ;
    width: 100%;
    height: 100% ;


}
.Chat-Container-Parent {

    background-color: #0D7792;
    display: flex ;
    align-items: center ;
    justify-content: center;
    width: 100% !important;
    height: 100% !important;


}


h1 {
    text-align: center ;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;

}

.primary-text {

    color: aliceblue;
    font-size: 1rem ;
}
.input-text {
    text-align: center;
    color: aliceblue;
    font-size: 1rem;
}


.Form-Parent {
    box-shadow: 5px 5px 10px 1px #000;
    font-size: 1rem;
    background-color: #243B53;
    border: 2px outset linen;
    border-radius: 25px;
    width: 80%;
}
.Messages {
    list-style-type: none;
    overflow-y: scroll ;
    /*display: flex;
    flex-direction: column-reverse;*/
    height: 77%;
    font-size: 1.25rem;

}
.list{
    border-bottom: 1px solid lightcyan;

}


.ChatInput{

    /*align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%*/
    margin: 0 1em;
    bottom: 1rem;








/*
Sorfs Mum is eine geile Granate
Oder siehst du das anders



if (bier == geil || true) {
    print("Du geile Sau");
    print("Freibier für alle");
}
 */




}
.file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.ChatApp-Container {
     box-shadow: 5px 5px 10px 1px #000;
     font-size: 1rem;
     background-color: #243B53;
     border: 2px outset linen;
     border-radius: 25px;
     width: 95%;
     height: 85%;
 }
.sendButton{
    border-radius: 0 0.5rem 0.5rem 0;
    width: 7rem;




}
.uploadFile{
    height: 100%;
    background-color: white;
    display: inline-block;
}


.Form-Parent Form {
    margin: 10%;
}
.lastMessage{
    display: none;
}

.submitBtn {
    padding-top: 2rem;
    align-content: center;
}
.messageField {
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 10px 1px #000;
    width:90%;
    height:90%;
    font-size: 1rem;
    background-color: #243B53;
    border: 2px outset linen;
    padding: 3%;
    border-radius: 25px;

}
.ChatAppRoom{}
