@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

body {
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    background-size: cover;
    margin: 0;
}

.UnderConstruction {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: linear-gradient(180deg, #243b53 0%, #0d7792 100%);

}

.container {
    width: 100%;

}
.col-4 {
    width: 25%;
    float: left;
}

.underConstructionHeading {
    margin-top: 15%;
    font-size: 38px !important;
    text-transform: uppercase;
    line-height: 1;
}

@media (min-width: 768px) {
    .container {
        width: 1100px;
    }
    .underConstructionHeading {
         font-size: 58px !important;
    }
}
